   <div class="col-md-6">	
	<h1>ToDo</h1>
	<% @todos.each do |todo| %>
	  <div class="well">
	    <h2> <%= link_to todo.description, todo %> </h2>
	    <p> <%= todo.complete %> </p>
	    <p> <%= link_to "Eliminar", todo, method: :delete %></p>
	  </div>
	<% end %>
	</div>