<div class="row">
    <div class="col-md-6">
      <% @completo.each do |todo| %>
            <div class="well">
              <p> <%= todo.description %> </p>
              <p> <%= todo.complete %> </p>
            </div>
      <% end %>
    </div>
    <div class="col-md-6">
       <% @incompleto.each do |todo| %>
            <div class="well">
              <p> <%= todo.description %> </p>
              <p> <%= todo.complete %> </p>
            </div>
      <% end %>
</div>