<div class="row">
    <div class="col-md-6">
      <% @completo.each do |comp| %>
            <div class="well">
              <p> <%= comp.description %> </p>
              <p> <%= comp.complete %> </p>
            </div>
      <% end %>
    </div>
    <div class="col-md-6">
       <% @incompleto.each do |inco| %>
            <div class="well">
              <p> <%= inco.description %> </p>
              <p> <%= inco.complete %> </p>
            </div>
      <% end %>
</div>